<!DOCTYPE html>
<html>
  <head>
    <title>Waddenzee</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= @landing_page ? (render 'layouts/landing-header'):(render 'layouts/header') %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
