<!DOCTYPE html>
<html>
<head>
  <title>Waddenzee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>Hudige gebruiker: <%= current_user.name %> - id: <%= current_user.id %></p>

<%= yield %>

</body>
</html>
