<!DOCTYPE html>
<html>
<head>
  <title>Waddenzee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>Hudige gebruiker: <%= current_user.name %> - id: <%= current_user.id %></p>
<p>Huidige collection type: <%= current_collection.type %></p>
<p>Huidige collection id: <%= current_collection.id %></p>

<hr />

<%= yield %>

</body>
</html>
